<div class="">
    <app-page-title title="Dashboard"/>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-xl-4">
        @for ( item of statistics; track $index) {
        <div class="col">
            <app-statistics-widget [item]="item"/>
        </div>
        }
    </div>

    <div class="row">
        <div class="col-12">
            <app-order-statistics/>
        </div>
    </div>

     
    <div class="row">
        <div class="col-12">
            <app-transactions/>
        </div>
    </div>
</div>
