.skeleton-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20% 100%;
          mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20% 100%;
  background: linear-gradient(#FF5102 0 0) left/0% 100% no-repeat #FFE9D6;
  animation: skeleton-loader-l17 2s infinite steps(6);
}

@keyframes skeleton-loader-l17 {
  100% { background-size: 120% 100%; }
}
