<div class="row">
    <div class="col-12">
        <div class="card" style="border: 1px solid #ddd; border-radius: 5px; background-color: #fff;">
            <div class="card-header bg-light" style="background-color: #f8f9fa; border-bottom: 1px solid #ddd; padding: 10px 15px;">
                <h3 class="card-title" style="font-size: 14px; font-weight: bold; color: #2c3e50; margin: 0;">EPRC OVERVIEW</h3>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <div class="card" style="border: 1px solid #ddd; border-radius: 5px; background-color: #fff; text-align: center;">
                            <div class="card-body p-3">
                                <h5 class="card-title" style="font-size: 18px; color: #555; font-weight: 700;">Total ePRC Generated</h5>
                                <p class="card-text" style="font-size: 24px; font-weight: bold; color: #007bff; margin: 0;">
                                    <app-countup [endVal]="eprc.generated" [duration]="2" [options]="{decimalPlaces: 0}"></app-countup>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card" style="border: 1px solid #ddd; border-radius: 5px; background-color: #fff; text-align: center;">
                            <div class="card-body p-3">
                                <h5 class="card-title" style="font-size: 18px; color: #555; font-weight: 700;">ePRC verified</h5>
                                <p class="card-text" style="font-size: 24px; font-weight: bold;  color: #28a745; margin: 0;">
                                    <app-countup [endVal]="eprc.received" [duration]="2" [options]="{decimalPlaces: 0}"></app-countup>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card" style="border: 1px solid #ddd; border-radius: 5px; background-color: #fff; text-align: center;">
                            <div class="card-body p-3">
                                <h5 class="card-title" style="font-size: 18px; color: #555; font-weight: 700;">ePRC un-verified</h5>
                                <p class="card-text" style="font-size: 24px; font-weight: bold; color: #ffc107; margin: 0;">
                                    <app-countup [endVal]="eprc.verified" [duration]="2" [options]="{decimalPlaces: 0}"></app-countup>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
